---
layout: default
title: Overview
---

<div class="row">
    <div class="column column-75 mainbox">
        {% include destinyordoom-video.html %}

        <p>Destiny or Doom is a weekly livestreamed show featuring Tabletop RPGs and board games.</p>

        <p>Hosted by The Pixel Pirate, we aim to bring excitement and wonder to each production we put out.</p>

        <!-- start slipsum code -->

        <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. </p>

        <!-- end slipsum code -->

        {% include show-list.html %}
    </div>
    <div class="column column-25 sidebar">
        {% include agenda.html %}
    </div>
</div>
