{% capture show %}show--{{include.show}}{% endcapture%}
<h3>Players</h3>
{% for player in site.data[show].players %}
<div class="row players">
    <div class="{{ site.layout.desc-image }}">
        <img src="{{ player.image }}">
    </div>
    <div class="{{ site.layout.desc-title }}">
        <h3>{{ player.name }}</h3>
        <h4>{{ player.character }}</h4>
        <p>{{ player.description }}</p>
        <ul class="links">
            {% for link in player.links %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
