{% for data in site.data %}
{% assign entry = data[0] %}
{% assign name = entry | remove_first: 'show--' %}
{% capture url %}{{ name }}.html{% endcapture %}
{% if entry contains "show--" %}
<div class="row shows">
    <div class="{{ site.layout.desc-image }}">
    <a href="{{ url }}"><img src="http://placehold.it/150x150"></a>
    </div>
    <div class="{{ site.layout.desc-title }}">
        <h2><a class="plain" href="{{ url }}">{{ site.data[entry].name }}</a></h2>
        <p>{{ site.data[entry].description }}</p>
        <a href="{{ url }}">Read more...</a>
    </div>
</div>
{% endif %}
{% endfor %}
