{% capture key %}show--{{include.name}}{% endcapture%}
{% assign show = site.data[key] %}

<img class="heading" src="http://placehold.it/500x300"><h2>{{ site.data[show].name }}</h2>

<p>{{ show.description }}</p>

<ul class="links">
    {% for link in show.links %}
    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
    {% endfor %}
</ul>

<h3>Game Master</h3>

<div class="row players">
    <div class="{{ site.layout.desc-image }}">
        <img src="{{ show.gamemaster.image }}">
    </div>
    <div class="{{ site.layout.desc-title }}">
        <h3>{{ show.gamemaster.name }}</h3>
        <p>{{ show.gamemaster.description }}</p>
        <ul class="links">
            {% for link in show.gamemaster.links %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>