html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: $middle;
  color: $text;
  font-family: 'Lato', 'Verdana', sans-serif;
  line-height: 1.6rem;
}

img {
  max-width: 100%;
}

a:link, a:visited, a:hover, a:active {
  color: $link;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

.content {
  min-height: 100%;
  flex: 1;
  margin: 0 auto;
  margin-bottom: -$footerheight;
}

.content:after {
  content: "";
  display: block;
  height: $footerheight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "optimus princeps semi bold";
  color: $headers;
  word-wrap: break-word;
}

h2 {
  font-size: 3.5rem;
  margin: 0;
  line-height: 3.5rem;
}

h3 {
  font-size: 3rem;
  margin: 0;
  line-height: 3rem;
}

@media #{$desktop} {
  body {
    line-height: 2.2rem;
  }

  h2 {
    font-size: 4rem;
    margin: 0;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 3.8rem;
  }
}
