ul.links {
  list-style: none;
  padding: 0;
  line-height: 1.5rem;
}

a.plain {
  &:link, &:visited, &:hover, &:active {
    color: inherit;
  }
}

td, th {
  &.number {
    text-align: right;
  }
}

img.heading {
  margin: 0 auto 3em auto;
  display: block;
}