nav {
  font-family: "optimus princeps", "Verdana", sans-serif;
  background-color: $header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 150px;

  border-bottom: $border;

  h1 {
    opacity: 0;
  }

  a:link, a:visited, a:hover, a:active {
    color: $text;
  }

  a.logo {
    background-image: url("assets/destinyordoom.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  > .item {
    font-size: 3rem;
    color: $text;
    width: 200px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }
}