$margin: 3rem 0;

.row {
  margin: 0;
}

.row .mainbox {
  border-top: $border;
  border-bottom: $border;
  background-color: $darkarea;
  margin: $margin;
  padding: 1rem;
  background-repeat: no-repeat;

  > h3 {
    margin-top: 3rem;
  }
}

.row .sidebar {
  margin: $margin;
}

.desc-image {
  padding-bottom: 2rem;
}

.desc-title {

}

@media #{$desktop} {
  .row .mainbox {
    border: $border;
    padding: 1.5rem;
  }
}
