$margin: 3rem 0;

.container .row .mainbox {
  border: $border;
  background-color: $darkarea;
  margin: $margin;
  padding: 1rem;
}

.container .row .sidebar {
  margin: $margin;
}

.desc-image {
  padding-bottom: 2rem;
}

.desc-title {

}

@media #{$desktop} {
  .container .row .mainbox {
    padding: 1.5rem;
  }
}
