$hover: lighten($darkarea, 5%);
table.leaderboards {
  th, td {
    padding: 0.5rem;
    border-bottom: 0.1rem solid lighten($darkarea, 12%);
  }

  tbody {
    tr:nth-child(odd) {
      background-color: darken($darkarea, 5%);
    }

    tr:nth-child(even):hover {
      background-color: $hover;
    }

    tr:nth-child(odd):hover {
      background-color: $hover;
    }

    tr:nth-child(1) {
      td:first-child {
        background-color: #4b4b00;
      }
    }

    tr:nth-child(2) {
      td:first-child {
        background-color: #4d4d4d;
      }
    }

    tr:nth-child(3) {
      td:first-child {
        background-color: #422110;
      }
    }
  }
}