.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 48em) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .ar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.ar-16-9 {
  @include aspect-ratio(16, 9);
}