$header: #272727;
$middle: #353233;
$textbox: $header;
$border: 4px solid #1b1c1b;
$darkarea: #272727;
$menuborder: 1px solid #240c0c;
$footerheight: 150px;
$headers: #ededed;
$text: #bbbbbb;
$link: #acd3ff;
$desktop: "only screen and (min-width: 48em)"
